<% provide(:title, "Inicio de Sesi칩n") %>

<h1><%= yield(:title) %></h1>

<%= form_for(:session, url:sessions_path) do |f| %>
	<div class="row">
	<div class="large-4 columns">
	<fieldset>
	<legend>Inicio de sesi칩n</legend>
		<div class="row">
			<%= f.label :email, "Correo electr칩nico" %>
			<%= f.text_field :email %>
		</div>
		<div class="row">
			<%= f.label :password, "Contrase침a" %>
			<%= f.password_field :password %>
		</div>
		<div class="row">
			<%= f.submit "Entrar", class: "btn xlarge primary" %>
		</div>
	</fieldset>
	</div>
	</div>
<% end %>
