<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-2 columns"><%= f.label :name, "Nombre", class: "right" %><br></div>
    <div class="large-10 columns"><%= f.text_field :name %></div>
  </div>
  <div class="row">
    <div class="large-2 columns"><%= f.label :address, "Dirección", class: "right" %><br></div>
    <div class="large-10 columns"><%= f.text_area :address %></div>
  </div>
  <div class="row">
    <div class="large-2 columns"><%= f.label :email, "E-Mail", class: "right" %><br></div>
    <div class="large-10 columns"><%= f.email_field :email %></div>
  </div>
  <div class="row">
    <div class="large-2 columns"><%= f.label :phone, "Teléfono", class: "right" %><br></div>
    <div class="large-10 columns"><%= f.text_field :phone %></div>
  </div>
  <div class="row actions">
    <%= f.submit 'Confirmar mi pedido', class: "button" %>
  </div>
<% end %>
