<p id="notice"><%= notice %></p>

<h2>Tu carro de la compra</h2>


<table class="cart">
	<%= render cart.cart_items %>
	<tr class="total"><td></td><td>Total:</td><td><%= number_to_currency(cart.total_price) %></td></tr>
</table>


<%= button_to 'Vaciar el carrito',  cart,  method: :delete, confirm: '¿Confirmas que quieres vaciar el carrito?', class: "button" %>
<%= button_to 'Realizar el pedido',  new_order_path,  method: :get, class: "button" %>