<p id="notice"><%= notice %></p>

<h2>Tu carro de la compra</h2>

<%= button_to 'Vaciar el carrito',  @cart,  method: :delete, confirm: '¿Confirmas que quieres vaciar el carrito?' %>
<%= link_to 'Seguir comprando', store_url %>
<ul>
	<% @cart.cart_items.each do |item| %>
	<li><%= item.product.name %> (<%= item.quantity %> unidades) 
		<div>Valor: <%= number_to_currency(item.total_price) %> </div>
	</li>
	<% end %>
</ul>

<div>Total: <%= number_to_currency(@cart.total_price) %></div>
<!--
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
-->
