<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
	<%= image_tag @category.photo.url %>
</p>

<%= link_to 'Editar', edit_category_path(@category), class: "button" %>
<%= link_to 'Volver', categories_path, class: "button" %>
