<h1>Nuestros Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>
          <%= image_tag product.image_url %>
          <% product.product_images.each do |photo| %>
          <%= image_tag photo.photo.url(:small) %>
          <% end %>
        </td>
        <td><%= product.price %></td>
        <td>
          <%= link_to 'Ver', product %>
          <%= link_to 'Editar', edit_product_path(product) %>
          <%= link_to 'Borrar', product, method: :delete, data: { confirm: '¿Estás seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_product_path %>
