<% if notice %>
<div id="notice"> <%= notice %> </div>
<% end %>

<h1>La tienda de El Buen Gusto</h1>

<% @products.each do |p| %>
<div class="item">
	<h3> <%= p.name %> </h3>
	<%= sanitize p.description %>
	<div class="price"> <%= number_to_currency p.price, unit: '€' %> </div>
	<%= button_to 'Añadir al carro', cart_items_path(product_id: p), remote: true %>
</div>
<% end %>
