<% if notice %>
<div id="notice"> <%= notice %> </div>
<% end %>

<h1>La tienda de El Buen Gusto</h1>

<div id="items_list" class="row">

	<% @products.each do |p| %>
	<div class="large-4 small-12 columns store_item">
		<div class="store_item_info">
			<h3><%= p.name %></h3>
			<% for image in p.product_images %>
			<%= image_tag image.photo.url :small %>
			<% break %>
			<% end %>
			
			<%= sanitize p.description %>
			<div class="price"> <%= number_to_currency p.price, unit: '€' %> </div>
			<%= link_to "Ver más", p %>
		</div>

		<div class="store_item_buy">
			<%= form_tag cart_items_path, remote: true do %>
			<%= number_field_tag :product_quantity, 1, :class => "spinner", :min => 1 %>
			<%= hidden_field_tag :product_id, p.id %>
			<%= submit_tag 'Añadir al carro', class: "button small round" %>
			<% end %>
		</div>
	</div>
	<% end %>

</div><!-- #items_list -->
